<fieldset>
	<legend>
		<b id="run_name">Node: </b>

		<svg height="34" width="100" style="vertical-align:middle;">
		  <circle id="run_state" cx="11%" cy="50%" r="10" style="fill: grey; stroke: black; stroke-width: 1.0%;" />
				<text id="run_state_text" x="25%" y="69%" font-family="sans-serif" font-size="20px" style="fill: grey; text-align:center;">...</text>
		  Sorry, your browser does not support inline SVG.
		</svg>
		<br>
	</legend>

	<label for="textarea">Log:</label>
	<textarea id="textarea" readonly autocomplete="off" style="width:100%; height:250px"></textarea>

	<br>
	<form>
		<label><input type="checkbox" value="AutoScroll" id="autoScroll" label="Auto Scroll"checked>Auto-Scroll</label>

	</form>
	<button class="btn btn-primary" id="restart-node" name="restart-node" onclick="restartNode()">restart</button>
	<button class="btn btn-primary" id="stop-node" name="stop-node" onclick="stopNode()">stop</button>

</fieldset>

<script type="text/javascript">
	var logfile = "node";
	function readTextFile(file){
		var x = document.getElementById("autoScroll").checked; //if autoscroll is checked
		if(x==true){
			document.getElementById("textarea").scrollTop = document.getElementById("textarea").scrollHeight; //autoscroll
		}

		$.ajax({
			url: "ajax_sila.php?action=isRunning",
			dataType: "json",
		}).done(function(response) {
			if (response != null) {
				if (response.success) {
				    logfile = response.read;
				    document.getElementById('run_name').innerHTML = response.read.concat(": ");
					document.getElementById('run_state').style.fill='green';
					document.getElementById('run_state_text').innerHTML = "running";
		  			document.getElementById('run_state_text').style.fill = "green";
                } else {
					document.getElementById('run_state').style.fill='grey';
					document.getElementById('run_state_text').innerHTML = "stopped";
					document.getElementById('run_state_text').style.fill = "grey";
				}
			}
			else {
				alert('Error while transmitting the data!');
			}
		});
		$.ajax({
			dataType: "text",
			success : function (data) {
				$("#textarea").load("ajax_sila.php?action=getLog&file=".concat(logfile.toLocaleLowerCase()).concat(".log"));
			}
		});
	}
	setInterval(readTextFile, 1000);

	function stopNode(){
		console.log("stopNode");
		$.ajax({
			url: "ajax_sila.php?action=stopNode",
			dataType: 'json',
		}).done(function(response) {
			if (response != null) {
				if (response.success) {
					document.getElementById('infoModalHeader').className = 'alert-success';
				} else {
					document.getElementById('infoModalHeader').className = 'alert-danger';
				}
				$('#myModalLabel').text("Node Control Status");
				$('#infoModalText').text(response.msg);
				$('#infoModal').modal('show');
			}
			else {
				alert('Error while transmitting the data!');
			}
		});
	}

	function restartNode(){
		console.log("restartNode");
		$.ajax({
			url: "ajax_sila.php?action=restartNode",
			dataType: 'json',
		}).done(function(response) {
			if (response != null) {
				if (response.success) {
					document.getElementById('infoModalHeader').className = 'alert-success';
				} else {
					document.getElementById('infoModalHeader').className = 'alert-danger';
				}
				$('#myModalLabel').text("Node Control Status");
				$('#infoModalText').text(response.msg);
				$('#infoModal').modal('show');
			}
			else {
				alert('Error while transmitting the data!');
			}
		});
	}

</script>
