<fieldset>
	<legend>
		<b>Documentation</b>
        <br>
	</legend>
    <object data="/docu.pdf" type="application/pdf" width="100%" height="1080px">
        <embed src="/docu.pdf" type="application/pdf">
            <p>This browser does not support PDFs. Please download the PDF to view it: <a href="/docu.pdf">Download PDF</a>.</p>
        </embed>
    </object>
</fieldset>