<?php
header("Access-Control-Allow-Origin: https://gitlab.com/SiLA2/index.php");
?>

<fieldset>
	<legend>
		<b>SiLA</b><br>
	</legend>
	<div class="form-group">
		<label for="node-select">Node</label>
		<select id="node-select" class="form-control">
			<option value="no_node">no node selected</option>
			<?php foreach($nodes as $node):?>
			<option value="<?php echo $node; ?>" <?php if ($config['sila']['node'] == $node) { echo ' selected="selected"'; } ?>><?php echo $node; ?></option>;
			<?php endforeach ?>
		</select>
	</div>
	<div class="form-group">
		<label for="param">Param</label>
		<input class="form-control" id="param" name="param" value="<?php echo (isset($config['sila']['param']) ? htmlspecialchars($config['sila']['param']) : ''); ?>">
	</div>

	<div>
        <label id="sila_browser_label_two"> SiLA Browser download (<a id="jar_dl" href="/sila_browser.jar" download="sila_browser.jar">jar</a>,<a id="exe_dl" href="/sila_browser.exe" download="sila_browser.exe" >exe</a>).</label>
	</div>
		<label>Start with "java -jar sila_browser.jar" or run the exe file.</label>
	<div>
	</div>
		<label>To control the device with your browser use this link <a href="http://127.0.0.1:8080">http://127.0.0.1:8080</a>.</label>
	<div>

	</div>
</fieldset>

<fieldset>
	<legend>
		<b>Network</b><br>
	</legend>
	<div>
		<input type="checkbox" id="ap_mode" name="ap_mode" <?php echo (isset($config['ap']) ? ' checked="checked"' : '') ;?>>
		<label id="ap_mode_label" for="ap_mode">Enable HotSpot</label>
	</div>
    </div>
		<label>If no usb device is connected, the AP will be created automatically.</label>
	<div>

	<div class="form-group">
		<label for="ssid">SSID</label>
		<input class="form-control" id="ssid" name="ssid" value="<?php echo (isset($config['wlan']['ssid']) ? htmlspecialchars($config['wlan']['ssid']) : ''); ?>">
	</div>
	<div class="form-group">
		<label for="psk">PSK</label>
		<input class="form-control" id="psk" name="ssid" value="<?php echo (isset($config['wlan']['psk']) ? htmlspecialchars($config['wlan']['psk']) : ''); ?>">
	</div>
	<button class="btn btn-primary" id="saveConfig" onclick="saveConfig()">Save</button>
</fieldset>

<hr>

<fieldset>
	<legend>
		<b>Node Upload</b><br>
	</legend>
	<form id="uploadForm" action="ajax_sila.php?action=uploadFile" method="post" enctype="multipart/form-data">
		<label for="fileSelect">Filename:</label>
		<input type="file" name="node" id="fileSelect">
		<input hidden="true" type="submit" id="fileupload" name="submit" value="Upload">
		<button id="btnupload">Upload</button>
		<p><strong>Note:</strong> Only .jar format is allowed.</p>
	</form>
</fieldset>

<hr>

<fieldset>
	<legend>
		<b>System</b><br>
	</legend>
	<button class="btn btn-primary" id="update" onclick="updateSystem()">Update</button>
</fieldset>

<script type="text/javascript">
	function progress(e){

		if(e.lengthComputable){
			var max = e.total;
			var current = e.loaded;
			var Percentage = (current * 100)/max;

			var $modal = $('.js-loading-bar'),
      		$bar = $modal.find('.progress-bar');

			$modal.modal('show');
		  	$bar.css('width', Percentage +'%').attr('aria-valuenow', Percentage);

			if(Percentage >= 100)
			{
			   setTimeout(function() {
				   $modal.modal('hide');
		  		}, 3000);
			}
		}
	 }

	$("#btnupload").click(function(e) {

    $("#fileupload").click();
    e.preventDefault();

});


$('#fileupload').change(function (e) {

    $("#uploadForm").submit();
    e.preventDefault();

});

$('#uploadForm').submit(function(e) {

    var formData = new FormData(this);

    $.ajax({
        type:'POST',
        url: 'ajax_sila.php?action=uploadFile',
        data:formData,
        xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){
                    myXhr.upload.addEventListener('progress',progress, false);
                }
                return myXhr;
        },
        cache:false,
        contentType: false,
        processData: false,

        success:function(data){
            console.log(data);
			if (data != null) {
				if (data.success === true) {
					document.getElementById('infoModalHeader').className = 'alert-success';
				} else {
					document.getElementById('infoModalHeader').className = 'alert-danger';
				}
				$('#myModalLabel').text("Upload Status");
				$('#infoModalText').text(data.msg);
				$('#infoModal').modal('show');
				setTimeout(function(){ location.reload(true) }, 8500);
			} else {
				alert('Error while transmitting the data!');
			}
        },
        error: function (response) {
						alert("ERROR!");
						console.log(response.getError());
		},
    });

    e.preventDefault();

});

	$(document).ready(function() {

	    var xhr = new XMLHttpRequest();
		xhr.open('HEAD', "./ctrl/online", false);
		xhr.send();
    	if (xhr.status != "404") {
			document.getElementById("jar_dl").href = "http://157.230.76.62:8081/repository/unitelabs_base-releases/master/sila_browser.jar";
            document.getElementById("exe_dl").href = "http://157.230.76.62:8081/repository/unitelabs_base-releases/master/sila_browser.exe";
        }
        else {
            document.getElementById("jar_dl").href = "/sila_browser.jar";
            document.getElementById("exe_dl").href = "/sila_browser.exe";
		}



		if($('#ap_mode').prop('checked')){
			$('#ssid').prop("readonly", true);
			$('#psk').prop("readonly", true);
		} else {
			$('#ssid').prop("readonly", false);
			$('#psk').prop("readonly", false);
		}

		$('input[type="checkbox"][name="ap_mode"]').change(function() {
			if(this.checked) {
				$('#ssid').prop("readonly", true);
				$('#psk').prop("readonly", true);
			} else {
				$('#ssid').prop("readonly", false);
				$('#psk').prop("readonly", false);
			}
		});
	});

	function saveConfig() {
		console.log("saveConfig");
		var data = {}

		data.node = $('#node-select').val();
        data.param = $('#param').val();
        data.ssid = $('#ssid').val();
        data.psk = $('#psk').val();
		if($('#sila_browser').prop("checked")){
		    data.browser_port = $('#sila_browser_port').val();
		}
		if($('#ap_mode').prop("checked")){
			data.ap = true;
		}
		//console.table(data);

		$.ajax({
			url: "ajax_sila.php?action=saveConfig",
			type: 'post',
			dataType: 'json',
			data: data
		}).done(function(response) {
			if (response != null) {
				if (response.success) {
					document.getElementById('infoModalHeader').className = 'alert-success';
				} else {
					document.getElementById('infoModalHeader').className = 'alert-danger';
				}
				$('#myModalLabel').text("Config Status");
				$('#infoModalText').text(response.msg);
				$('#infoModal').modal('show');
			}
			else {
				alert('Error while transmitting the data!');
			}
		});
	}

	function updateSystem(){
		console.log("updateSystem");

		var xhr = new XMLHttpRequest();
		xhr.open('HEAD', "./ctrl/online", false);
		xhr.send();

    	if (xhr.status != "404") {

		  $.ajax({
					url: "ajax_sila.php?action=updateSystem",
					dataType: 'json',
				}).done(function (response) {
					if (response != null) {
						if (response.success) {
							document.getElementById('infoModalHeader').className = 'alert-success';
						} else {
							document.getElementById('infoModalHeader').className = 'alert-danger';
						}
						$('#myModalLabel').text("System Update Status");
						$('#infoModalText').text(response.msg);
						$('#infoModal').modal('show');
						setTimeout(function(){ location.reload(true) }, 8500);
					}
					else {
						alert('Error while transmitting the data!');
					}
				});
		}else{
		  document.getElementById('infoModalHeader').className = 'alert-danger';
				$('#myModalLabel').text("System Update Status");
				$('#infoModalText').text("Update failed. No internet connection.");
				$('#infoModal').modal('show');
				setTimeout(function(){ location.reload(true) }, 8500);
		}

	}

</script>
